# Ignore editor and IDE files
*.vscode/
*.idea/



# Ignore dependencies and build artifacts
studybuddy/node_modules/


# Ignore log files
*.log

# Ignore backup and temporary files
*.bak
*.tmp


# Ignore image thumbnails
*.thumb


# Ignore package lock files
studybuddy/package-lock.json
studybuddy/package.json

# Ignore studybuddy/db/db.config.js
studybuddy/db/db.config.js