* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #cee8f6;
  background-size: cover;
  background-repeat: no-repeat;
}
.container {
  position: relative;
  width: 90%;
  max-width: 700px;
  margin: 200px auto 100px; /* Adjusted margin to provide space for the title */
  padding: 100px;
  border-radius: 5px;
  border: 2px solid #1a5c67;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  box-sizing: border-box;
}
.title {
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 40px;
  font-weight: bold;
  color: #1a5c67;
  margin-top: 0;
  padding: 20px; /* Added padding to create space around the title */
  background-color: #cee8f6; /* Match the background color of the container */
  z-index: 1; /* Ensure the title is above the form */
}
h1 {
  margin-top: 0;
  font-size: 60px;
  color: #1a5c67;
  text-align: center; /* Center align the "Reset Password" title */
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
input[type='email'] {
  padding: 10px;
  margin-bottom: 20px;
  width: 100%; /* Set the width to 100% */
  max-width: 400px; /* Add max-width to limit the input width */
  border: 1px solid #ccc;
  border-radius: 3px;
}
button {
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}
button:hover {
  background-color: #2980b9;
}
#Message {
  margin-top: 20px;
  padding: 10px;
  background-color: #dff0d8;
  color: #3c763d;
  border: 1px solid #d6e9c6;
  border-radius: 3px;
}
.hidden {
  display: none;
}
.form-bottom-links {
  margin-top: 20px;
}
.footer-container {
  text-align: center;
  bottom: 0;
  width: 100%;
  border-top: 1px solid #333;
}
.footer-links {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.footer-links a {
  display: inline-block;
  margin: 0 10px;
  padding: 5px;
  color: #333;
  text-decoration: none;
  font-size: 14px;
}
.footer-links a:hover {
  background-color: #008080;
  color: #fff;
}
.footer-text {
  font-size: 14px;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  .container {
    height: auto;
    margin-top: 40px; /* Adjust margin to create space for the sidebar */
  }
 .footer-container {
    position: static;
    margin-top: 20px;
  }
}