
doctype html
head
  meta(charset='UTF-8')
  title About Us
  link(rel='stylesheet' href='/CSS/AboutUs.css')
  script(src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous')
header
  .title StuddyBuddy
  .subtitle Social Network for Summaries
.container
  h1 About Us
  p
    | Welcome to StuddyBuddy, the premier social network for summaries in Ben
    | Gurion University! We are passionate about making knowledge accessible
    | and empowering individuals to learn more efficiently. Our platform
    | provides a vibrant community where users can connect, share, and
    | discover concise summaries across a wide range of topics. We believe
    | that summaries are an effective way to digest essential information
    | quickly. Navigating StuddyBuddy is simple. Users can explore summaries
    | in their preferred categories or search for specific topics of interest.
    | Each summary is accompanied by relevant tags, ratings, and user reviews,
    | ensuring that you have the necessary context to make informed choices.
    | We believe in the power of collective intelligence, and that&apos;s why we
    | encourage users to contribute their own summaries. Whether you&apos;re
    | passionate about a particular subject or want to share your expertise,
    | StuddyBuddy provides a platform for you to make a meaningful impact by
    | helping others learn. By contributing, you not only assist fellow users
    | but also enhance your own understanding and communication skills. Join
    | our growing community today and unlock the knowledge at your fingertips.
    | Together, let&apos;s make learning accessible, enjoyable, and efficient.
.social-icons
  a(href='https://www.facebook.com/' target='_blank')
    i.fab.fa-facebook-f
  a(href='https://www.instagram.com/' target='_blank')
    i.fab.fa-instagram
  a(href='https://www.twitter.com/' target='_blank')
    i.fab.fa-twitter
.footer-container
  .footer-text &copy; 2023 All Rights Reserved, StuddyBuddy&reg;