
<!DOCTYPE html>
<html lang="en">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/CSS/app.css" />

<footer>
  <div class="footer-links">
    <a href="#">Contact Us</a>
    <a href="#">About Us</a>
  </div>

  <div class="social-icons">
    <a href="https://www.facebook.com/" target="_blank"
      ><i class="fab fa-facebook-f"></i
    ></a>
    <a href="https://www.instagram.com/" target="_blank"
      ><i class="fab fa-instagram"></i
    ></a>
    <a href="https://www.twitter.com/" target="_blank"
      ><i class="fab fa-twitter"></i
    ></a>
  </div>

  <div class="footer-text">© 2023 All Rights Reserved, StudyBuddy®</div>
</footer>