.footer-container
  .footer-links
    a#contact-us-link(href='/contact-us') Contact Us
    a#about-us-link(href='/about-us') About Us
  .social-icons
    a(href='https://www.facebook.com/' target='_blank')
      i.fab.fa-facebook-f
    a(href='https://www.instagram.com/' target='_blank')
      i.fab.fa-instagram
    a(href='https://www.twitter.com/' target='_blank')
      i.fab.fa-twitter
  .footer-text &copy; 2023 All Rights Reserved, StuddyBuddy&reg;