
<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/CSS/forgetPassword.css" />
    <script
      src="https://kit.fontawesome.com/47bff8e4ff.js"
      crossorigin="anonymous"
    ></script>
  </head>
   <header>
      <div class="title">StuddyBuddy</div>
    </header>
  <body>
    <div class="container">
      <h1>Reset Password</h1>
      <form>
        <input
          type="email" id="email" name="email" placeholder="Enter your email" required
        />
        <button type="submit">Reset Password</button>
      </form>
    </div>
    <div class="footer-container">
      <div class="footer-links">
        <a href="#" id="contact-us-link">Contact Us</a>
        <a href="#" id="about-us-link">About Us</a>
      </div>
      <div class="footer-text">© 2023 All Rights Reserved, StuddyBuddy®</div>
    </div>
    <script src="../static/JS/ForgetPassword.js"></script>
    <script src="../static/JS/Fotter.js"></script>
  </body>
</html>
