doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(rel='stylesheet' href='/CSS/forgetPassword.css')
  script(src='https://kit.fontawesome.com/47bff8e4ff.js' crossorigin='anonymous')
header
  .title StuddyBuddy
.container
  h1 Reset Password
  form
    input#email(type='email' name='email' placeholder='Enter your email' required='')
    button(type='submit') Reset Password
.footer-container
  .footer-links
    a#contact-us-link(href='/contact-us') Contact Us
    a#about-us-link(href='/about-us') About Us
  .footer-text &copy; 2023 All Rights Reserved, StuddyBuddy&reg;
script(src='/ForgetPassword.js')
script(src='/JS/Fotter.js')
