<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="CSS/app.css" />
    <link rel="stylesheet" href="CSS/LoginPage.css" />

    <script
      src="https://kit.fontawesome.com/47bff8e4ff.js"
      crossorigin="anonymous"
    ></script>
    <title>StudyBuddy: Login</title>
  </head>
  <body>
    <header>
      <div class="title">StuddyBuddy</div>
      <div class="subtitle">Get Social, get studying, get ahead.</div>
    </header>
    <div class="container">
      <h1>Login</h1>
    <form class="login-form" action="/LoginPage" method="POST">
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
        />
        <i class="fa fa-user" aria-hidden="true"></i>
        <input
          type="password"
          id="password"
          name="username"
          placeholder="Password"
          autocomplete="current-password"
        />
        <i class="fa fa-unlock-alt" aria-hidden="true"></i>
        <button type="submit">Login</button>
      </form>
      <div class="form-bottom-links">
        <a href="#" class="create-account-btn">Create New Account</a>
        <a href="#" class="forgot-password-btn">Forgot Password?</a>
      </div>
      <div
        id="picture-container"
        style="
          background-image: url('http://clipart-library.com/images_k/books-transparent-background/books-transparent-background-11.png');
        "
      ></div>
    </div>
    <div class="footer-container">
      <div class="footer-links">
        <a href="#" id="contact-us-link">Contact Us</a>
        <a href="#" id="about-us-link">About Us</a>
      </div>
      <div class="social-icons">
        <a href="https://www.facebook.com/" target="_blank"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="https://www.instagram.com/" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://www.twitter.com/" target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>
      </div>
      <div class="footer-text">© 2023 All Rights Reserved, StuddyBuddy®</div>
    </div>
    <script src="JS/LoginPage.js"></script>
    <script src="JS/Fotter.js"></script>
  </body>
</html>
