- var currentPage = 'summarySearch'
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title StudyBudy: SummarySearch
  link(rel='stylesheet' href='/CSS/app.css')
  link(rel='stylesheet' href='/CSS/summarySearch.css')
  link(rel='icon' href='../static/photos/icon.png' type='image/x-icon')
  script(src='https://kit.fontawesome.com/7d07e6b941.js' crossorigin='anonymous')
nav
  include navBar
main
  h1 Search Summary
  .container
    form#searchForm(action='/summarySearch' method='POST')
      .form-row
        label(for='input1') Course number:
        input#input1(type='text' name='courseNumber')
      .form-row
        label(for='input2') Course name:
        input#input2(type='text' name='nameOfCourse')
      .form-row
        label(for='input3') Year:
        input#input3(type='number' name='year' min='1900' max='2099')
      .form-row
        label(for='input4') Semester:
        select#input4(name='semester')
          option(value='') Select a semester
          option(value='summer') Summer
          option(value='winter') Winter
          option(value='fall') Fall
          option(value='spring') Spring
      button#search-button(type='submit') Submit
footer
     include footer
script(src='/JS/menu.js')
