- var currentPage = 'theLibrary'
doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title StudyBuddy: The Library
  link(rel='stylesheet' href='/CSS/app.css')
  link(rel='stylesheet' href='/CSS/theLibrary.css')
  script(src='https://code.jquery.com/jquery-3.6.0.min.js')
  link(rel='icon' href='../static/photos/icon.png' type='image/x-icon')
  script(src='https://kit.fontawesome.com/7d07e6b941.js' crossorigin='anonymous')
nav
  include navBar
main
  #posts-container
footer
     include footer
script(src='/JS/theLibrary.js')
script(src='/JS/Fotter.js')
