<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>StudyBuddy: The Library</title>
    <link rel="stylesheet" href="../static/CSS/app.css" />
    <link rel="stylesheet" href="../static/CSS/theLibrary.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="icon" href="../static/photos/icon.png" type="image/x-icon" />
    <script
      src="https://kit.fontawesome.com/7d07e6b941.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav>
      <img src="../static/photos/logo2.png" alt="StudyBuddy" />
      <ul id="navbar">
        <li><a href="home.html">Home</a></li>
        <li><a class="active" href="theLibrary.html">The Library</a></li>
        <li><a href="summarySearch.html">Summary Search</a></li>
        <li><a href="mySummaries.html">My Summaries</a></li>
        <li><a href="summeryUpload.html">Summary Upload</a></li>
      </ul>
      <input type="checkbox" name="checkbox" id="check" />
      <label for="check" class="checkbtn">
        <i class="fas fa-bars" id="menu-icon"></i>
      </label>
    </nav>
    <main>
      <div id="posts-container"></div>
    </main>
    <footer>
      <div class="footer-links">
        <a href="#" id="contact-us-link">Contact Us</a>
        <a href="#" id="about-us-link">About Us</a>
      </div>
      <div class="social-icons">
        <a href="https://www.facebook.com/" target="_blank"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a href="https://www.instagram.com/" target="_blank"
          ><i class="fab fa-instagram"></i
        ></a>
        <a href="https://www.twitter.com/" target="_blank"
          ><i class="fab fa-twitter"></i
        ></a>
      </div>
      <div class="footer-text">© 2023 All Rights Reserved, StudyBuddy®</div>
    </footer>
    <script src="../static/JS/theLibrary.js"></script>
    <script src="../static/JS/Fotter.js"></script>
  </body>
</html>
